@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.card0, .projectCard {
    @apply
    mx-5  py-5 
    bg-cyber-900 dark:bg-glass-200
    rounded-gen
    grid grid-rows-6 
    my-20 xl:my-0 h-[fit] xl:h-[80vh]
}

.card0 {
    @apply
    xl:grid-rows-1
    grid-cols-12
}

.formInput {
    @apply 
    placeholder:italic px-6 py-3  w-full border-solar-100 mx-auto rounded-dd bg-white
}

.formBT {
    @apply 
    bg-solar-900 dark:hover:bg-solar-100 hover:bg-cyber-100
    dark:hover:text-night-100 hover:text-white
    cursor-pointer w-1/4 mx-auto py-3 text-xl rounded-3xl
}

.AllPlaces {
    @apply
    bg-gray-500
    xl:min-h-[600px] qhd:min-h-[1200px] p-5 rounded-lg
    text-center text-2xl font-exo content-center	
    grid grid-cols-2 md:grid-cols-4 fhd:grid-cols-7 qhd:grid-cols-10 qhd:grid-rows-6 gap-2 xl:grid-rows-4 xl:gap-3
   }
  
   .PlaceDetail {
    @apply
    grid grid-cols-10 grid-rows-6
    xl:mx-40 rounded-lg p-5 font-exo text-center text-white
   }
  
  .Quest {
    @apply
    bg-night-100
    rounded-lg
    min-h-[150px] 
    xl:min-h-[150px]
    text-2xl text-white
    content-center
    p-6
  }
  
  .CityPL {
   @apply
   bg-glass-100 hover:bg-night-100
   min-h-[150px]
   xl:min-h-[150px]
   rounded-lg
   relative
   cursor-pointer
  }
  
  .PLfooter {
    @apply
    absolute bottom-0
    grid grid-cols-3
    bg-night-100
    rounded-b-lg
    px-2 py-2
    w-full
    text-base text-white
  }
  
  .PLheader {
    @apply
    grid grid-cols-6
    text-lg
    text-white
  }
  
  .VerifyPl {
    @apply
    bg-solar-500 text-night-100
    mx-5 md:max-w-2xl md:mx-auto mt-12 p-10 rounded-lg
    text-center text-2xl font-exo content-center	
    m-5
  }
  
  .UpgradePl {
    @apply
    bg-cyber-100 text-white
    mx-5 md:max-w-2xl md:mx-auto mt-12 p-10 rounded-lg
    text-center text-2xl font-exo content-center	
    m-5
  }
  
  .verifyText {
    @apply
    text-cyber-100 animate-pulse
    text-3xl
  }
